.TweetImg {
    border-radius: 20px;
    margin: 15px 20px 10px 65px;
}

.title {
    margin: 15px 20px 10px 65px;
}

.tweetBody {
    margin: 15px 20px 10px 65px;
}

.bitcoinImg {
    margin-left: 10px;
}