.twitter {
    display: grid;
    grid-template-columns: 25% 50% 25%;

    background-color: #172533;
    color: white;
}

.right {
    border-left: 1px solid gray;
    /* height: 100vh; */
}

hr {
    border: 1px solid gray;
}

/* navigation bar */
/* ------------------------ */

.nav {
    /* position: absolute; */
    border-right: 1px solid gray;
    /* height: 100vh; */
    display: grid;
    justify-content: center;
    margin-left: 80px;
    
}

.nav-container {
    /* border: 1px solid red; */
    width: 40%;
}

h1 {
    font-size: 40px;
}

.navBtn {
    font-size: 20px;
    /* font-style: italic; */
    border: none;
    background-color: #172533;
    color: white;
    /* padding: 10px; */
    margin: 5px;
    padding: 10px 30px 10px 0px;
}

.navBtn:focus {
    outline: none;
}

.navBtn:hover {
    /* background-color: #053c5c; */
    /* border-radius: 30%; */
    color: #2888bf;
    cursor: pointer;
}



/* right section */
/* --------------------------------- */


.search-bar {
    width: 80%;
    height: 30px;
    font-size: 15px;
    border-radius: 30px;
    background-color: #061b26;
    color: white;
    border: 1px solid gray;
    margin: 10px 0px 10px 20px
}

.search-bar:focus {
    outline: none;
}

.trending-container {
    border: 1px solid gray;
    overflow: scroll;
    font-size: 13px;
    width: 80%;
    height: 440px;
    border-radius: 15px;
    margin-left: 20px;
}

.trending:hover {
    background-color: #0b2d40;
}

.Btn {
    border: 2px solid gray;
    background-color: #061b26;
    border-radius: 15px;
    color: white;
}

.Btn:hover {
    background-color: #0b2d40;
}

.trends-for-you {
    margin: 5px 0px 0px 10px;
}

.tweets:hover {
    background-color: #0b2d40;
}



/* --------------------- */



.postInput {
    width: 70%;
    font-size: 20px;
    background-color: #172533;
    border: none;
    padding: 0px 0px 40px 10px;
    color: white;
}

.postInput:focus {
    outline: none;
}

.smallProfilePic {
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 15px;
}

.tweetBtn {
    font-size: 20px;
    background-color: #2888bf;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 7px;
    /* display: grid;
    align-content: flex-end;
    vertical-align: middle;  */
    float: right;
    /* line-height: 5px; */
    margin-right: 10px;
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.tweetBtn:focus {
    outline: none;
}

.tweetBtn:hover {
    cursor: pointer;
}

.pageTitle {
    margin: 15px 0px 15px 10px;
}

.tweetBody {
    margin: 15px 0px 10px 55px;
}